/* GENERAL */
@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

/* NAV */
/* Add your color palette here */
:root {
    --brand-color: #21409A;
    --text-color: #333;
}
  
.text-brand {
    color: var(--brand-color);
}

nav {
    height: 17vh;
}
  
.nav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
  
.nav-link:hover {
    color: var(--brand-color);
}
  
/* Burger icon style */
.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.burger-icon span {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    display: block;
    border-radius: 2px;
}
  
  /* Show/Hide logic for burger menu */
.menu-links.show {
    display: block !important;
}
  